<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <h1>
    Welcome to angular tetris!
  </h1>
  
</div>
<nav>
  <a routerLink="/tetris">Tetris</a>
</nav>
<router-outlet></router-outlet>